<!DOCTYPE html>
<html th:lang="es" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="menu/header :: head">
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">


</head>
<body>
<header th:replace="menu/header :: header"></header>
<div class="container">

    <div class="col-sm-6" th:if="${productoInfo}" th:object="${productoInfo}">
        <div class="card mt-3">
            <h3 class="card-header">Producto</h3>
            <div class="card-block">
                <h4 class="card-title" th:text="*{codigo}"></h4>
                <h5 class="card-subtitle mb-4 text-muted" th:text="*{nombre}"></h5>
                <h6 class="card-subtitle mb-4 text-muted"><i class="fas fa-list-ul" aria-hidden="true"></i> [[*{descripcion}]]</h6>
            </div>
        </div>
    </div>

    <form method="post" th:action="@{/productos/add}" th:object="${producto}">
        <br/>
        <h2>Introduzca los datos de producto</h2>
        <hr/>
        <div th:class="${#fields.hasErrors('codigo')} ? 'form-group row has-danger' : (*{codigo == null} ? 'form-group row' : 'form-group row has-success')">
            <label for="codigo" class="col-sm-2 col-form-label">Codigo</label>
            <div class="col-sm-6">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-fw fa-user fa" aria-hidden="true"></i></span>
                    <input th:field="*{codigo}" type="text" th:class="${#fields.hasErrors('codigo')} ? 'form-control form-control-danger' : (*{codigo == null} ? 'form-control' : 'form-control form-control-success')" placeholder="introduzca codigo de producto" required="required"/>
                </div>
                <div th:if="${#fields.hasErrors('codigo')}" class="form-control-feedback">El codigo debe contener entre 5 y 13 caracteres</div>
            </div>
        </div>

        <div th:class="${#fields.hasErrors('nombre')} ? 'form-group row has-danger' : (*{nombre == null} ? 'form-group row' : 'form-group row has-success')">
            <label for="nombre" class="col-sm-2 col-form-label">Nombre</label>
            <div class="col-sm-6">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-fw fa-user fa" aria-hidden="true"></i></span>
                    <input th:field="*{nombre}" type="text" th:class="${#fields.hasErrors('nombre')} ? 'form-control form-control-danger' : (*{nombre == null} ? 'form-control' : 'form-control form-control-success')" placeholder="Ingrese nombre producto" required="required"/>
                </div>
                <div th:if="${#fields.hasErrors('nombre')}" class="form-control-feedback">El nombre debe contener entre 4 y 50 caracteres</div>
            </div>
        </div>

        <div th:class="${#fields.hasErrors('descripcion')} ? 'form-group row has-danger' : (*{descripcion == null} ? 'form-group row' : 'form-group row has-success')">
            <label for="descripcion" class="col-sm-2 col-form-label">Descripcion</label>
            <div class="col-sm-6">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-fw fa-envelope" aria-hidden="true"></i></span>
                    <input th:field="*{descripcion}" type="text" th:class="${#fields.hasErrors('descripcion')} ? 'form-control form-control-danger' : (*{descripcion == null} ? 'form-control' : 'form-control form-control-success')" placeholder="Ingrese descripcion de producto" required="required"/>
                </div>
                <div th:if="${#fields.hasErrors('descripcion')}" class="form-control-feedback">La descripcion debe tener entre 7 y 255 caracteres</div>
            </div>
        </div>


        <div class="form-group row">
            <div class="col-sm-2"></div>
            <div class="col-sm-6">
                <button type="submit" class="btn btn-primary btn-md btn-block">Enviar</button>
            </div>
        </div>

    </form>
</div>

</body>
</html>