<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="menu/header :: head">
    <meta charset="UTF-8">
    <title>Ver Factura</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>
<body>
<header th:replace="menu/header :: header"></header>
<div class="container">

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <table class="table table-bordered">
                        <tr class="text-center">
                            <th colspan="3" scope="col"></th>
                            <th scope="col">Fecha</th>
                            <th scope="col">Numero</th>
                        </tr>
                        <tbody>
                        <tr class="text-center">
                            <td colspan="3"></td>
                            <td th:text="${factura.fecha}">Mark</td>
                            <td th:text="${factura.numero}">Otto</td>
                        </tr>
                        </tbody>

                        <tr class="text-center">
                            <th colspan="3" scope="col"></th>
                            <th scope="col">Nombre Cliente</th>
                            <th scope="col">Tipo de Factura</th>
                        </tr>
                        <tbody>
                        <tr class="text-center">
                            <td colspan="3"></td>
                            <td th:text="${factura.cliente.nombre}">Mark</td>
                            <td th:text="${factura.letra}">Otto</td>
                        </tr>
                        </tbody>


                        <tr class="text-center">
                            <th scope="col">Cantidad</th>
                            <th scope="col">Codigo</th>
                            <th scope="col">Descripcion</th>
                            <th scope="col">Precio Unitario</th>
                            <th scope="col">Subtotal</th>
                        </tr>
                        <tbody>

                        <th:block th:each="item : ${items}">
                            <tr class="text-center">
                                <td th:text="${item.cantidad}"></td>
                                <td th:text="${item.producto.codigo}"></td>
                                <td th:text="${item.producto.descripcion}"></td>
                                <td th:text="${item.precioUnitario}"></td>
                                <td th:text="${item.subTotal}"></td>
                            </tr>
                        </th:block>
                        </tbody>

                        <tr class="text-center">
                            <th colspan="3" scope="col"></th>
                            <th scope="col">Descripcion</th>
                            <th scope="col">Total</th>
                        </tr>
                        <tbody>
                        <tr class="text-center">
                            <td colspan="3"></td>
                            <td th:text="${pie.observaciones}"></td>
                            <td th:text="${pie.total}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <div class="button" style="text-align: right;">
                <a class="btn btn-danger" href="#">Borrar Factura</a>
            </div>
        </div>
    </div>

</div>

</body>
</html>