<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<head th:replace="menu/header :: head">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Registrar Items</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
          crossorigin="anonymous">
</head>
<body>
<header th:replace="menu/header :: header"></header>
<div layout:fragment="content" class="container">
    <div class="container my-5">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <p th:text="${encabezado.fecha}"></p>
                    <p th:text="${encabezado.numero}"></p>
                    <p th:text="${encabezado.letra}"></p>
                    <p th:text="${encabezado.cliente.nombre}"></p>
                </div>
            </div>
        </div>
        <h3 style="text-align: center"> Agregar Factura Item</h3>
        <div class="card" style="margin-top: 20px;">
            <div class="card-body">
                <form method="post" th:action="@{/facturas/post-item/{id}(id=${idCliente})}" th:object="${item}">
                    <div class="row">
                        <div class=" form-group col-md-4">
                            <label for="producto" class="col-form-label">Producto</label>
                            <select class="form-control" name="producto" th:field="*{producto}"
                                    required>
                                <option value="null" hidden>Producto</option>
                                <option th:each="producto : ${productos}" th:value="${producto.id}"
                                        th:text="${producto.nombre}" required></option>
                            </select>
                        </div>
                        <div th:if="${#fields.hasErrors('producto')}" class="form-control-feedback">El producto
                            debe ser seleccionado
                        </div>

                        <div class="form-group col-md-4">
                            <label for="cantidad" class="col-form-label">Cantidad</label> <input
                                type="number" th:field="*{cantidad}" class="form-control" id="cantidad"
                                placeholder="Cantidad"
                                required="required"> <span
                                th:if="${#fields.hasErrors('cantidad')}" th:errors="*{cantidad}"
                                class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="precioUnitario" class="col-form-label">Precio</label> <input
                                type="number" th:field="*{precioUnitario}" class="form-control" id="precioUnitario"
                                placeholder="Precio"
                                required="required"> <span
                                th:if="${#fields.hasErrors('precioUnitario')}" th:errors="*{precioUnitario}"
                                class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <div class="boton" style="margin-left: 350px">
                                <input type="submit"
                                       class="btn btn-primary"
                                       value="Agregar al Carrito">
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <div class="boton">
                                <a th:href="@{/facturas/get-pie/{id}(id=${idCliente})}"
                                   class="btn btn-primary">Ir al pie</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table" style="padding-top: 20px;">
                        <thead class="thead-dark">
                        <tr style="text-align: center">

                            <th scope="col">Codigo</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Precio Unitario</th>
                            <th scope="col">Subtotal</th>
                            <th scope="col">Descripcion</th>
                            <th scope="col">Borrar</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="item_producto : ${items}" style="text-align: center">
                            <td th:text="${item_producto.producto.codigo}"></td>
                            <td th:text="${item_producto.cantidad}"></td>
                            <td th:text="${item_producto.precioUnitario}"></td>
                            <td th:text="${item_producto.subTotal}"></td>
                            <td th:text="${item_producto.producto.descripcion}"></td>
                            <td><a
                                    th:href="@{/facturas/delete-item/{id}(id=${item_producto.id})}"
                                    class="btn btn-danger" style="text-align:center;"><i>Eliminar Producto</i></a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>