<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="menu/header :: head">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Update User</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
          crossorigin="anonymous">
</head>
<body>
<header th:replace="menu/header :: header"></header>
    <div class="container my-5">
        <h3> Agregar Factura Encabezado</h3>
        <div class="card">
            <div class="card-body">
                <div class="col-md-8">
                    <form method="post" th:action="@{/facturas/post-encabezado/{id}(id=${idCliente})}"
                          th:object="${encabezado}">

                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="fecha" class="col-form-label">Fecha</label> <input
                                    type="date" pattern="yyyy-MM-dd" th:field="*{fecha}" class="form-control" id="fecha"
                                    placeholder="Fecha"
                                    required>
                                <span
                                        th:if="${#fields.hasErrors('fecha')}" th:errors="*{fecha}"
                                        class="text-danger"></span>
                            </div>

                            <div class="form-group col-md-6">
                                <label for="numero" class="col-form-label">Numero de Factura</label> <input
                                    type="text" th:field="*{numero}" class="form-control" id="numero"
                                    placeholder="Numero" required> <span
                                    th:if="${#fields.hasErrors('numero')}" th:errors="*{numero}"
                                    class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-8">
                                <select class="form-control" th:field="*{letra}" required>
                                    <option value="null" hidden required>Seleccione el tipo de factura</option>
                                    <option th:each="letra : ${tipoletra}" th:value="${letra}"
                                            th:text="${letra.toString()}" required></option>
                                </select>
                            </div>

                            <div class="form-group col-md-8">
                                <input type="submit" class="btn btn-primary" value="Crear encabezado">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>
    </div>
</header>
</body>

</html>