<!DOCTYPE html>
<html th:lang="es" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="menu/header :: head">
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <title>Registrar Cliente</title>
</head>
<body>
<header th:replace="menu/header :: header"></header>
<div class="container">

    <div th:fragment="flash-warning" th:if="${mensajeWarning}!=null">
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <h5 th:text="${mensajeWarning}" style="text-align: center"></h5>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>

    <div th:fragment="flash-success" th:if="${mensaje}!=null">
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <h5 th:text="${mensaje}" style="text-align: center"></h5>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>

    <form method="post" th:action="@{/clientes/add}" th:object="${cliente}">
        <br/>
        <h2 style="text-align: center">Introduzca los datos del Cliente</h2>
        <hr/>
        <div th:class="${#fields.hasErrors('codigo')} ? 'form-group row has-danger' : (*{codigo == null} ? 'form-group row' : 'form-group row has-success')">
            <label for="codigo" class="col-sm-2 col-form-label">Código</label>
            <div class="col-sm-6">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-fw fa-user fa" aria-hidden="true"></i></span>
                    <input th:field="*{codigo}" type="text"
                           th:class="${#fields.hasErrors('codigo')} ? 'form-control form-control-danger' : (*{codigo == null} ? 'form-control' : 'form-control form-control-success')"
                           placeholder="introduzca codigo del Cliente" required="required"/>
                </div>
                <div th:if="${#fields.hasErrors('codigo')}" class="form-control-feedback">El codigo debe contener entre
                    4 y 13 caracteres
                </div>
            </div>
        </div>

        <div th:class="${#fields.hasErrors('nombre')} ? 'form-group row has-danger' : (*{nombre == null} ? 'form-group row' : 'form-group row has-success')">
            <label for="nombre" class="col-sm-2 col-form-label">Nombre</label>
            <div class="col-sm-6">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-fw fa-user fa" aria-hidden="true"></i></span>
                    <input th:field="*{nombre}" type="text"
                           th:class="${#fields.hasErrors('nombre')} ? 'form-control form-control-danger' : (*{nombre == null} ? 'form-control' : 'form-control form-control-success')"
                           placeholder="Ingrese nombre cliente" required="required"/>
                </div>
                <div th:if="${#fields.hasErrors('nombre')}" class="form-control-feedback">El nombre debe contener entre
                    3 y 120 caracteres
                </div>
            </div>
        </div>

        <div th:class="${#fields.hasErrors('direccion')} ? 'form-group row has-danger' : (*{direccion == null} ? 'form-group row' : 'form-group row has-success')">
            <label for="direccion" class="col-sm-2 col-form-label">Dirección</label>
            <div class="col-sm-6">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-fw fa-envelope" aria-hidden="true"></i></span>
                    <input th:field="*{direccion}" type="text"
                           th:class="${#fields.hasErrors('direccion')} ? 'form-control form-control-danger' : (*{direccion == null} ? 'form-control' : 'form-control form-control-success')"
                           placeholder="Ingrese direccion del Cliente" required="required"/>
                </div>
                <div th:if="${#fields.hasErrors('direccion')}" class="form-control-feedback">La direccion debe tener
                    entre 6 y 120 caracteres
                </div>
            </div>
        </div>

        <div th:class="${#fields.hasErrors('cuit')} ? 'form-group row has-danger' : (*{cuit == null} ? 'form-group row' : 'form-group row has-success')">
            <label for="cuit" class="col-sm-2 col-form-label">Cuit</label>
            <div class="col-sm-6">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-fw fa-envelope" aria-hidden="true"></i></span>
                    <input th:field="*{cuit}" type="text"
                           th:class="${#fields.hasErrors('cuit')} ? 'form-control form-control-danger' : (*{cuit == null} ? 'form-control' : 'form-control form-control-success')"
                           placeholder="Ingrese el cuit del Cliente" required="required"/>
                </div>
                <div th:if="${#fields.hasErrors('cuit')}" class="form-control-feedback">El cuit debe tener 11
                    caracteres
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-2"></div>
            <div class="col-sm-6">
                <button type="submit" class="btn btn-warning btn-md btn-block">Crear Cliente</button>
            </div>
        </div>

    </form>
</div>

</body>
</html>