<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="menu/header :: head">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Update User</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
          crossorigin="anonymous">
</head>
<body>
<header th:replace="menu/header :: header"></header>
<div class="container my-5">
    <h3 style="text-align: center"> Actualizar Cliente</h3>
    <div class="card">
        <div class="card-body">
            <div class="col-md-8">
                <form method="post" th:action="@{/clientes/update/{id}(id=${cliente.id})}" th:object="${cliente}">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="codigo" class="col-form-label">Código</label> <input
                                type="text" th:field="*{codigo}" class="form-control" id="codigo"
                                placeholder="Name"> <span
                                th:if="${#fields.hasErrors('codigo')}" th:errors="*{codigo}"
                                class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="nombre" class="col-form-label">Nombre</label> <input
                                type="text" th:field="*{nombre}" class="form-control" id="nombre"
                                placeholder="Name"> <span
                                th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"
                                class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="direccion" class="col-form-label">Dirección</label> <input
                                type="text" th:field="*{direccion}" class="form-control" id="direccion"
                                placeholder="Direccion"> <span
                                th:if="${#fields.hasErrors('direccion')}" th:errors="*{direccion}"
                                class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="cuit" class="col-form-label">Cuit</label> <input
                                type="text" th:field="*{cuit}" class="form-control" id="cuit"
                                placeholder="Cuit"> <span
                                th:if="${#fields.hasErrors('cuit')}" th:errors="*{cuit}"
                                class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-8">
                            <input type="submit" class="btn btn-primary"
                                   value="Actualizar Cliente">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>